body {
    width: 135deg, #f5f7fa 0%, #c3cfe2 100%;
    font-family: Lato, sans-serif;
    font-size: 1.2rem;

}

h1,h2,h3 {
    @font-face {
        font-family: Montserrat-Bold, sans-serif;
        src: url(Montserrat-Bold.ttf);
    }
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.2rem;
}

p {
    max-width: 70ch;
    line-height: 1.5;
}